<f:layout name="Default"/>

<f:section name="main">

    <h1>
        <img src="{f:uri.resource(path:'Icons/typo3.png')}" width="64" alt="">
        {client.name}
    </h1>

    <p class="lead">You have been sent here by {client.name}.</p>

    <p>{client.name} would like to access the following data:</p>

    <ul>
        <li>friends</li>
        <li>memories</li>
        <li>hopes, dreams, passions, etc.</li>
        <li>sock drawer</li>
    </ul>

    <p>It will use this data to:</p>

    <ul>
        <li>integrate with friends</li>
        <li>make your life better</li>
        <li>miscellaneous nefarious purposes</li>
    </ul>

    <ul class="list-inline authorize_options">
        <li>
            <form id="cancel" action="{actionUrl}" method="post">
                <button type="button" class="btn btn-default navbar-btn" onclick="document.getElementById('cancel').submit();">Cancel</button>
                <input type="hidden" name="authorize" value="0">
            </form>
        </li>
        <li>
            <form id="authorize" action="{actionUrl}" method="post">
                <button type="button" class="btn btn-primary navbar-btn" onclick="document.getElementById('authorize').submit();">Yes, I authorize this request</button>
                <input type="hidden" name="authorize" value="1">
            </form>
        </li>
    </ul>

</f:section>
